/* multilink code
<a id="mapLink" href="#">Open in Maps</a>

<script>
  const mapLink = document.getElementById('mapLink');

  if (navigator.userAgent.match(/iPhone|iPad|iPod/i)) {
    mapLink.href = "maps://?q=Oldsmar%2C%20FL";
  } else {
    mapLink.href = "https://www.google.com/maps/search/?api=1&query=Oldsmar%2C%20FL";
  }
</script>
*/

/*color palette
blue #233041
beige #EAD6BF
red #E3483A
gray #8C949B
*/

h1 {
    color: white;
    font-size: 5vw;
    max-width: 50%;
    text-align:center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: none;
    padding-bottom: 10px;
}
h2 {
    font-size: 4vw;
    margin-bottom: -10px;
}
h3 {
    font-size: 3vw;
    margin-bottom: -15px;
}
h4 {
    font-size: 2.5vw;
}
h1, h2, h3, h4 {
    text-align: center;
}
img {
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
}
.logo {
    border-style: solid;
    border-width: 10px;
    border-color: #8C949B;
}
.left_image {
    position: absolute;
    padding-left: 10px;
    width: 15%;
    height: auto;
}
.right_image {
    position: absolute;
    padding-right: 10px;
    margin-top: -2.3dvw;
    right: 10px;
    width: 15%;
    height: auto;
}
section:first-of-type {
    margin-top: 30px;
}


section {
    display: block;
    background-color: #EAD6BF;
    margin: 10lvw;
    margin-bottom: 75px;
    padding: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #E3483A;
}
    
section img {
    display: flex;
    margin: auto;
    width: 30%;
    height: auto;
    border-style: none;
    margin-top: -20px;
    margin-bottom: -20px;
  }
.map {
    display: flex;
    margin: auto;
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: #8C949B;
    border-width: 3px;
}
body {
   font-family: sans-serif;
   background-color: #233041;
   margin: auto;
}
p {
    padding-left: 1vw;
    padding-right: 1vw;
    align-self: center;
    font-size: 2.5vw;
}
a {
    text-align: center;
    content: center;
}
.bold {
    font-weight: bold;
}

.running_image {
    float: left;
    border-style: none;
    border-width: 0;
    position: sticky;
    position: left;
    top: 10px;
    padding-left: 1vw;
    padding-top: 0px;
    width: 7vw;
    height: auto;
}

a:link, a:visited {
    color: #E3483A
}
.separator {
    margin-top: 100px;
    border-bottom: dotted;
    border-color: #8C949B;
    border-width: 10px;
}
.pay {
    font-style: italic;
}
button {
    display: block;
    background-color: #EAD6BF;
    margin: auto;
    margin-bottom: 75px;
    padding: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #E3483A;
    font-size: 2.5vw;
}
