/*color palette
blue #233041
beige #EAD6BF
red #E3483A
gray #8C949B
*/

.heading {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 2fr 1fr;
}

header {
    padding-top: 20px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
  }

header a {
    font-size: 1.5rem;
    text-align: center;
  }
header a + a {
    margin-left: 20px;
}
h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 10px 10px 10px;
    box-sizing: content-box;
}
.second_h1 {
    display: block;
    color: whitesmoke;
    font-size: 2rem;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 10px;  
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    line-height: 0.6;
}

h4 {
    font-size: 0.8rem;
    line-height: 0.6;
}

p {
    padding-left: 1lvw;
    padding-right: 1lvw;
    align-self: center;
    margin: auto;
    margin-top: 10px;
    font-size: 1rem;
    max-width: 700px;
}

h1, h2, h3, h4 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}

.logo {
    width: 90%;
    border-style: solid;
    border-width: 10px;
    border-color: #8C949B;
    border-radius: 4px;
}


.left_image {
    padding-left: 20px;
    left: 5px;
    width: 80%;
    height: auto;
}

.right_image {
    padding-right: 20px;
    right: 5px;
    width: 80%;
    height: auto;
}
    */
/*
@media (orientation: portrait) {
    .right_image {
        position: absolute;
        padding-right: 10px;
        margin-top: 6vw;
        right: 10px;
        width: 20%;
        height: auto;
    }
    .left_image {
        position: absolute;
        padding-left: 10px;
        margin-top: 7.6vw;
        width: 20%;
        height: auto;
    }
}
    */
.content {
    text-align: center;
}

section:first-of-type {
    margin-top: 30px;
}


section {
    display: block;
    position: relative;
    background-color: #EAD6BF;
    margin: 5lvw;
    margin-bottom: 75px;
    padding: 15px;
    border-style: solid;
    border-width: 10px;
    border-color: #E3483A;
    border-radius: 4px;
    box-sizing: border-box;
}


section img {
    display: flex;
    margin: auto;
    width: 30lvw;
    height: auto;
    border-style: none;
    margin-top: -20px;
    margin-bottom: -20px;
}
a img {
    display: block;
    position: relative;
}

.map {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-style: solid;
    border-color: #8C949B;
    border-width: 3px;
}

@media (min-width: 620px) {
    .map {
        max-height: 90lvh;
        width: auto;
    }
}
    


/*
.challenge {
    display: flex;
    position: right;
}
.sticky_image {
    display: flex;
    position: sticky;
    flex: left;
    top: 0;
    left: 0;
}
    */
body {
    font-family: sans-serif;
    background-color: #233041;
    margin: auto;
}

a {
    text-align: center;
    content: center;
}

.bold {
    font-weight: bold;
}

.running_image {
    float: left;
    border-style: none;
    border-width: 0;
    position: sticky;
    top: 10px;
    padding-left: 0vw;
    padding-top: 0px;
    width: 10lvw;
    height: auto;
    background-color: none;
}

a:link,
a:visited {
    color: #E3483A
}

.separator {
    margin-top: 100px;
    border-bottom: dotted;
    border-color: #8C949B;
    border-width: 10px;
}

.pay {
    font-style: italic;
}
figure {
    display: block;
    background-color: #EAD6BF;
    margin: 5lvw;
    margin-bottom: 75px;
    padding: 15px;
    border-style: solid;
    border-width: 10px;
    border-color: #E3483A;
    border-radius: 4px;
}

figcaption {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    text-align: center;
}

figcaption a {
    font-size: 1rem;
    text-align: center;
    display: inline-block;
}



button {
    display: block;
    padding: 20px;
    border-radius: 4px;
    background-color: #EAD6BF;
    margin: auto;
    margin-bottom: 75px;
    border-style: solid;
    border-width: 10px;
    border-color: #E3483A;
    font-size: 1rem;
}